<div class="card">
  <div class="card-header">
    <a class="link" href="/post/{{id}}">{{title}}</a></h4>
  </div>
  <div class='card-content'>
    {{content}}
  </div>
  <div class="card-footer">
    <p>Posted by {{user.username}} on {{format_date created_at}}</p>
  </div>
</div>